    <table class="block">
        <tr>
            <th>Name</th>
            <th>Minimum Elo</th>
        </tr>
        <tr>
            <td>Aliminium I</td>
            <td>/</td>
        </tr>
        <tr>
        <td>Iron I</td>
        <td>1400</td>
        </tr>
        <tr>
        <td>Zinc I</td>
        <td>1500</td>
        </tr>
        <tr>
        <td>Bronze I</td>
        <td>1600</td>
        </tr>
        <tr>
        <td>Silver I</td>
        <td>1700</td>
        </tr>
        <tr>
        <td>Gold I</td>
        <td>1800</td>
        </tr>
        <tr>
        <td>Platinium I</td>
        <td>1900</td>
        </tr>
        <tr>
        <td>Diamond I</td>
        <td>2000</td>
        </tr>
    </table>