    <div>
        {{> navbar this}}
    </div>

<div class="intro">
    <h1>Ghurab League 1V1 season 1 - دوري غراب واحد ضد واحد النسخة 1</h1>
    <p>
        كما نعلم فإن البهاليل ـ خصوصا حمزة ـ يظنون أنهم شالونجر بينما مستواهم لا يتعدى سيلفر ، و الهدف من هذا الدوري هو توضيح هذا الأمر و تحديد افضل بهلول في 1 ضد 1
    </p>
    <p>
        As we know, Bahalils - especially Hamza - think that they are Challenger, while their level does not exceed Silver, and the goal of this league is to clarify this matter and determine the best Bahloul in 1 against 1
    </p>
 </div>

        <div class="rules">
            <div>
                <h2>قواعد</h2>
                <ul>
                    <li>التحالي بالروح الرياضية</li>
                    <li>كل بهلول له الحق في إختيار البطل الذي يود اللعب به</li>
                    <li>لا وجود للبآن</li>
                    <li>في كل فوز يفوز الرابح بعدد نقط إيلو و يخسر الخاسر عدد نقط إيلو</li>
                    <li>كلما كان الفارق بين نقط إيلو اللاعبين زادت نقط الربح و الخسارة</li>
                </ul>
            </div>
            <div>
                <h2>Rules</h2>
                <ul>
                    <li>Sportsmanship</li>
                    <li>Each Bahloul has the right to choose the champion he wants to play with</li>
                    <li>There is no bans</li>
                    <li>In every match, the winner wins a number of Elo points, and the loser loses a number of Elo points.</li>
                    <li>The greater the difference between the players' elo points, the greater the points of profit and loss</li>
                </ul>
            </div>

        </div>

    <div class="flex-container">
            <div>
                <h2>Ladder</h2>
                {{> ladder this}}
            </div>
            
            <div>
                <h2>Divisions List</h2>
                {{> divisions_list}}
            </div>
    </div>
    <div>
        {{> footnote}}
    </div>