{{> navbar this }}

<div>
    <form action="/player/signin" method="HEAD">
        <div>
            <label for="name">Username:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{{> footnote}}